<%- include('./partials/header') %>
    <%- include('./partials/sidebar') %>
        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Tables</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <a href="/blogdisplay"></a>
                            <div class="card-body">
                                <h5 class="card-title m-b-0">Blog Table</h5>
                            </div>
                            <% if(data!=null) { %>
                                <table class="table">
                                    <thead>
                                        <tr align="center">
                                            <th scope="col">Title</th>
                                            <th scope="col">ShortDescription</th>
                                            <th scope="col">LongDescription</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% data.forEach(function(item){ %>
                                            <tr align="center">
                                                <td>
                                                    <%= item.title%>
                                                </td>
                                                <td>
                                                   <%= item.shortdescription %>
                                                </td>
                                                <td>
                                                  <%= item.longdescription %>
                                                </td>
                                                <td>
                                                    <a class="btn btn-success"
                                                        href="/catedit">Edit</a>

                                                    <a class="btn btn-danger" data-href="/catdelete"
                                                        data-toggle="modal" data-target="#exampleModal" >Delete</a>
                                                    </a>
                                                </td>
                                            </tr>
                                        <% }) %>  
                                    </tbody>
                                </table> 
                            <% } %>                           
                        </div>
                    </div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <%- include('./partials/footer') %>