<%- include('./partials/header') %>
<%- include('./partials/sidebar') %>
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <h4 class="card-title">Role Form</h4>
            <div class="col-md-12">
                <div class="card">
                    <form action="<%= edit == 'edit' ?'/allroledata/'+alldata._id:'/allroledata' %>"  method="post">
                        <div class="form-group row">
                            <label for="lname" class="col-md-3  control-label col-form-label">Role Name
                            </label>
                            <div class="col-sm-9">
                                <input type="text" name="rolename" value="<%= alldata.rolename %>"  class="form-control"
                                    id="lname" placeholder="Enter title">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lname" name="lblproductprice"
                                class="col-md-3  control-label col-form-label">permission</label>
                            <div class="col-sm-9">
                               <table class="table">
                                <tr>
                                    <th>Module</th>
                                    <th>View</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                <% allModules.forEach(function(item){ %>
                                    <tr>
                                        <th><%= item.module_name%></th>
                                        <th><input type="checkbox" <%= alldata.permission[item._id].view == 1 ? 'checked': '' %>  name="view_<%= item._id%>" /></th>
                                        <th><input type="checkbox" <%= alldata.permission[item._id].edit == 1 ? 'checked': '' %> name="edit_<%= item._id%>" /></th>
                                        <th><input type="checkbox" <%= alldata.permission[item._id].delete == 1 ? 'checked': '' %> name="delete_<%= item._id%>" /></th>
                                    </tr> 
                                <% }) %>
                               </table>
                            </div>
                        </div>
                        <div class="border-top">
                            <div class="card-body">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./partials/footer') %>
                