<%- include('./partials/header') %>
    <%- include('./partials/sidebar') %>
        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Tables</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <a href="/categorylist"></a>
                            <div class="card-body">
                                <h5 class="card-title m-b-0">Category Table</h5>
                            </div>
                            <% if(details!=null) { %>
                                <table class="table">
                                    <thead>
                                        <tr align="center">
                                            <th scope="col">ID</th>
                                            <th scope="col">Category Name</th>
                                            <th scope="col">Count</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% details.forEach(function(item,index){ %>
                                            <tr align="center">
                                                <td>
                                                    <%= index + 1 %>
                                                </td>
                                                <td>
                                                    <%= item.categoryname%>
                                                </td>
                                                <td>
                                                    <%= item.count%>
                                                </td>
                                                <td>
                                                    <a class="btn btn-success"
                                                        href="/catedit?id=<%= item._id%>">Edit</a>

                                                    <a class="btn btn-danger" data-href="/catdelete/<%= item._id%>"
                                                        data-toggle="modal" data-target="#exampleModal" <%
                                                        if(item.count==0) { %> data-delete="yes" <% } else { %>
                                                            data-delete="no" <% } %>
                                                                >Delete
                                                    </a>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                                <% } %>                                
                        </div>
                    </div>

                </div>
            </div>

            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        </div>
        </div>
        <%- include('./partials/footer') %>