<%- include('./partials/header') %>

    <%- include('./partials/sidebar') %>
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <form action="productdata" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="id" value="<%= data._id %>">
                                <div class="card-body">
                                    <h5 class="card-title">Product Details</h5>
                                    <div class="form-group row">
                                        <label class="col-md-3 m-t-15">Select Category</label>
                                        <div class="col-md-9">
                                            <select class="select2 form-control custom-select"
                                            name="category"
                                                style="width: 100%; height:36px;">
                                                <option>Select</option>
                                                <% category.forEach(function(item,index){ %>
                                                    <option  value="<%= item._id%>"><%=  item.categoryname%></option>   
                                                 <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname" class="col-md-3  control-label col-form-label">Product
                                            Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="productname" class="form-control" value="<%= data.productname %>" id="lname"
                                                placeholder="Enter Product Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname" name="lblproductprice"
                                            class="col-md-3  control-label col-form-label">Product Price</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="productprice" class="form-control" value="<%= data.productprice %>" id="lname"
                                                placeholder="Enter Product price">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3"  >File Upload</label>
                                        <div class="col-md-9">
                                            <div class="custom-file">
                                                <input type="file" name="image" class="custom-file-input" value="<%= data.image %>" id="validatedCustomFile"
                                                    required>
                                                <label class="custom-file-label" for="validatedCustomFile">Choose
                                                    file...</label>
                                                <div class="invalid-feedback">Example invalid custom file feedback</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                        </div>
                        </form>
                        <!-- ============================================================== -->
                        <!-- End PAge Content -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Right sidebar -->
                        <!-- ============================================================== -->
                        <!-- .right-sidebar -->
                        <!-- ============================================================== -->
                        <!-- End Right sidebar============================================================== -->
                    </div>
                </div>

                <%- include('./partials/footer_product') %>