<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movie</title>
</head>
<body>
    <form action="/savedata" method="post" name="frm" enctype="multipart/form-data">
        <input type="hidden" name="hid"  value="<%= (user.id!='')?user.id:''%>">
        <label for="">Movie Name:-</label>
        <input type="text" name="name"  value="<%= (user.id!='')?user.id:''%>?user.name:'' %>"><br><br>

        <label for="">Release Date</label>
        <input type="date" name="date" value="<%= (user.id!='')?user.id:''%>?user.date:'' %>"><br><br>

        <label for="">Chractors</label>
        <input type="number" name="charactor" value="<%= (user.id!='')?user.id:''%>?user.charactor:'' %>"><br><br>

        <label for="">Poster Image:-</label>
        <input type="file" name="image"><br><br>

        <input type="submit" value="save">

    </form>

    <br><br>

    <table border="2">
        <tr>
            
            <td>id</td>
            <td>Name</td>
            <td>Age</td>
            <td>Email</td>
            <td>Image</td>
            <td>Action</td>
           
        </tr>
        <% for(let i in data){ %>
           <tr>
            <td><%= data[i]._id %></td>
            <td><%= data[i].moviename %></td>
            <td><%= data[i].date %></td>
            <td><%= data[i].charactor %></td>
      
            <td><img src="../<%= data[i].pimage %>" height="100px" width="200px"></td>
            <td><a href="/edit/<%= data[i]._id%>">Edit</a> <a href="/del/<%= data[i]._id%>">Delete</a></td>

         
            
           </tr>
        <%} %>
    </table>
</body>
</html>