<!-- Table Start -->
<%- include('./partials/header') %>
    <%- include('./partials/sidebar',{username:username}) %>
        <div class="content">
            <%- include('./partials/navbar') %>
                <div class="container-fluid pt-4 px-4">
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="bg-secondary rounded h-100 p-4">
                                <h6 class="mb-4">product Table</h6>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr align="center">
                                                <th scope="col">Product Id</th>
                                                <th scope="col">Category</th>
                                                <th scope="col">SubCategory</th>
                                                <th scope="col">Product Name</th>
                                                <th scope="col">Product Price</th>
                                                <th scope="col">Product Detail</th>
                                                <th scope="col">Product Image</th>
                                                <th scope="col">Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(productdata) { %>
                                                <% productdata.forEach((item)=>{ %>
                                                    <tr align="center">
                                                        <td>
                                                            <%= item._id %>
                                                        </td>
                                                        <td>
                                                            <%= item.cat_id.categoryname %>
                                                        </td>
                                                        <td>
                                                            <%= item.sub_id.name %>
                                                        </td>
                                                        <td>
                                                            <%= item.pname %>
                                                        </td>
                                                        <td>
                                                            <%= item.price %>
                                                        </td>
                                                        <td>
                                                            <%= item.description %>
                                                        </td>
                                                        <td>
                                                            <img src="/product/<%= item.image %>" width="50" height="50"
                                                                alt="<%= item.image %>">
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-success" href="/productEdit/<%= item._id %>">Edit</a>

                                                            <a class="btn btn-danger" href="/productDelete/<%= item._id %>" data-toggle="modal"
                                                                data-target="#exampleModal">Delete
                                                            </a>
                                                        </td>

                                                    </tr>
                                                    <% }) %>
                                                        <% } %>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid pt-4 px-4">
                    <div class="bg-secondary rounded-top p-4">
                        <div class="row">
                            <div class="col-12 col-sm-6 text-center text-sm-start">
                                © <a href="#">Your Site Name</a>, All Right Reserved.
                            </div>
                            <div class="col-12 col-sm-6 text-center text-sm-end">
                                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                                Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                                <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <%- include('./partials/footer') %>

            <!-- Table End -->